@charset "UTF-8";
* {
    margin: 0 0px;
    padding: 0;
    color: #000000;
}
body {
	text-align: center;
	height: 0 auto;
	min-width: 1000px;
	background: #F2F2FF;
	color: #888;
}

#border1
{ 
background-color: #A9D0F5;	
height:20px;
color: black;
width: 100%;
font-style:bold;
}

leftalign
{
    padding-left : 1500px;
}

nav
{
    text-align: center;
    position:relative ;
    -- top: 10%;
	padding: 30px;
	-- min-width: 820px;

 }

nav ul 
{
    display: inline-block;
    outline: none;
    cursor: pointer;
    -- text-align: center;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.1);
	-moz-box-shadow: 0 1px 0 rgba(0,0,0,.1);
	box-shadow: 0 1px 0 rgba(0,0,0,.1);
    }

nav ul li
{
    float:left;
    list-style: none;
    
    }

nav ul li a {
	font: Arial, Helvetica, sans-serif;
	padding: 11px 25px;
	text-decoration: none;
	color: rgba(0,0,0,.8);
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
	background: -webkit-linear-gradient(top, #cacaca, #848484);
	background: -moz-linear-gradient(top, #cacaca, #848484);
	background: -ms-linear-gradient(top, #cacaca, #848484);
	background: -o-linear-gradient(top, #cacaca, #848484);
	background: linear-gradient(to bottom, #cacaca, #848484);
}


nav ul li a:before {
	border-left: 1px solid rgba(255,255,255,.1);
	-- content: "";
	padding: 0px 35px;
	margin: 0 -35px;
	position: relative;
}
nav ul li a:after {
	border-right: 1px solid rgba(255,255,255,.1);
	-- content: "";
	padding: 0px 35px;
	margin: 0 -35px;
	position: relative;
}
nav ul li:last-child a:after {
	border: none;
}
nav ul li:first-child a {
	-moz-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
}
nav ul li:last-child a {
	-moz-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
}


nav ul li a:hover {
	border-right: 0px solid rgba(255,255,255,.2);
	text-shadow: 0 -1px 0 rgba(0,0,0,.5);
	background: -webkit-linear-gradient(top, #929292, #535353);
	background: -moz-linear-gradient(top, #929292, #535353);
	background: -ms-linear-gradient(top, #929292, #535353);
	background: -o-linear-gradient(top, #929292, #535353);
	background: linear-gradient(to bottom, #929292, #535353);
}
nav ul li a:active {
	-webkit-box-shadow: inset 0 5px 10px rgba(0,0,0,.5);
	-moz-box-shadow: inset 0 5px 10px rgba(0,0,0,.5);
	box-shadow: inset 0 5px 10px rgba(0,0,0,.5);
}
nav ul li a.current {
	background: -webkit-linear-gradient(top, #383a3a, #525051);
	background: -moz-linear-gradient(top, #383a3a, #525051);
	background: -ms-linear-gradient(top, #383a3a, #525051);
	background: -o-linear-gradient(top, #383a3a, #525051);
	background: linear-gradient(to bottom, #383a3a, #525051);
	-webkit-box-shadow: inset 0 5px 10px rgba(0,0,0,.8);
	-moz-box-shadow: inset 0 5px 10px rgba(0,0,0,.8);
	box-shadow: inset 0 5px 10px rgba(0,0,0,.8);
	color: #ffffff;
	text-shadow: 0 1px 0 rgba(0,0,0,.9);
}


.center {
	text-align: center;
}
table {
	width: 100%;
}
.box {
	width: 80%;
	text-align: left;
	padding: 40px;
	background: #FFF;
	margin: 16px auto 40px auto;
}
.shadow-effect {
	position: relative;
    top: -36px;
    left: -41px;
    margin:0 auto;
}
.shadow-effect:before, .shadow-effect:after {
	z-index: -1;
	position: absolute;
	content: "";
	bottom: 15px;
	left: 10px;
	width: 50%;
	top: 80%;
	max-width: 300px;
	background: #777;
	-webkit-box-shadow: 0 15px 10px #777;
	-moz-box-shadow: 0 15px 10px #777;
	box-shadow: 0 15px 10px #777;
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	transform: rotate(-3deg);
}
.shadow-effect:after {
	-webkit-transform: rotate(3deg);
	-moz-transform: rotate(3deg);
	-o-transform: rotate(3deg);
	-ms-transform: rotate(3deg);
	transform: rotate(3deg);
	right: 10px;
	left: auto;
}


.loginTable
{
    width: 60% 0 auto;
    height: 370px;
    margin: 10px 10px 10px 0;
    border: 3px solid #88D7FF;
    border-radius: 10px;
    moz-border-radius: 10px;
}

.loginTable1
{
    width: 60% 0 auto;
    height: 700px;
    margin: 10px 10px 10px 0;
    border: 3px solid #88D7FF;
    border-radius: 10px;
    moz-border-radius: 10px;
}

.loginTable tr th, .loginTable tr td
{
    text-align: justify;
    padding: 0px 5px 0 5px;
    color: #000000;
}

.loginTable img
{
    padding: 0px 10px 10px 10px;
    height: 130px;
    width: 212px;
}

.center1
{
	margin-left:auto;
	margin-right:auto;
	text-align: center;
	color: #000000;
}


.productTable
{
   
    width: 80%;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border: 3px solid #88D7FF;
    border-radius: 10px;
    moz-border-radius: 10px;
}

.productTable tr th, .productTable tr td
{
    text-align: justify;
    padding: 0px 5px 0 5px;
}

.productTable img
{
    padding: 0px 10px 10px 10px;
    height: 150px;
    width: 150px;
}

.links 
{
    text-decoration:underline;
    color: #333;
    text-transform: none;
}

.links :hover
{
    text-decoration:underline;
    color: blue;
    text-transform: none;
}

#footer {
	height: 100px;
	padding: 50px;
	background-color: Blue;
}


.logregistercss
{
   -- ForeColor="Azure";
    Font-Size="Large";
  --  Height="25px";
    -- Width="60px";
    -- Font-Bold="true";
    -- BorderStyle="Outset";
   -- BackColor="ActiveCaption";
   border-radius: 10px;
   -- moz-border-radius: 10px;
    
    }
    
 .Logoutcss
 {
     Text-align:right;
     }